@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
