@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Common styling components for story contect */
    h1{
        @apply text-xl font-J1 underline;
    }
    h2{
        @apply text-lg font-J1 underline;
    }
    h3{
        @apply text-base underline;
    }
    p{
        @apply text-base font-sans;
    }
}